body {
  background-color: rgb(245, 245, 245);
  font-size: 16px;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 2px 8px;
}

h1 {
  font-size: 1.3em;
}

h2 {

}

img {
  max-width: 100%;
}

figure {
  margin: 16px auto 0;;
}

@media screen and (min-width: 469px) {
  body {
    background-color: rgb(251, 240, 230);
    font-size: 18px;
    padding: 2px 28px;
  }

  #figure-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  figure {
    margin: 0 5px 5px;
    flex-basis: 47%;
  }
}

@media screen and (min-width: 950px) {
  body {
    background-color: rgb(235, 202, 172);
    font-size: 22px;
    padding: 2px 8%;
    margin: 0 auto;
    max-width: 1100px;
  }
}