html {
  background-color: rgb(242, 242, 247);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  padding: 40px;
}

#cv-form {
  margin: 0 auto;
  width: 70%;
}

#cv-form label {
  display: block;
  font-weight: 700;
  margin: 15px  4px 0 23px;
}

.js-validate-error-label {
  font-size: 0.9em;
  font-style: italic;
  margin: 0 auto 16px;
  width: 88%;
}

#cv-form fieldset {
  border: 1px solid grey;
  border-radius: 8px;
  margin: 0 0 30px 0;
  padding: 30px 30px;
}

#cv-form input, #cv-form select, #cv-form textarea {
  background-color: rgb(220, 220, 230);
  border: 0;
  border-radius: 8px;
  display: block;
  padding: 8px 12px;
}

#cv-form input {
  margin: 4px auto 4px;
}

#cv-form select, #cv-form input[ type='date' ], #cv-form input[ type="number" ], #cv-form textarea {
  margin: 4px 0 2px 5%;
}

#cv-form input[ type='radio' ] {
  display: inline;
  margin: 8px 4px 4px 26px;
}

#cv-form .radio-label {
  display: inline-block;
  font-weight: 500;
  margin: 0 0 0 3px;
}

#cv-form input:focus, #cv-form myselect:focus {
  background-color: rgb(180, 190, 210);
  outline: none;
}

#cv-form input:not([ type='radio' ]):not([ type='date' ]):not([ type="number" ]) {
  width: 90%;
}

#cv-form fieldset legend {
  color: rgb(106, 106, 110);
  font-size: 1.2em;
  letter-spacing: 2px;
  padding: 0 12px 2px;
  text-transform: uppercase;
}

#cv-form textarea:focus {
  background-color: rgb(180, 190, 210);
  outline: none;
}

.form-result {
  background-color: rgb(223, 228, 236);
  border: 1px solid grey;
  border-radius: 8px;
  margin: 20px auto 30px;
  padding: 30px 30px;
  width: 80%;
}

.form-result p {
  background-color: rgb(241, 247, 255);
  border-radius: 8px;
  margin: 20px;
  padding: 15px 18px;
}